* {
    box-sizing: border-box;
}

body {
    background-color: #8C11BE;
    
}

::placeholder {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    padding: 2%;
}